.sketchfab-embed-wrapper
  iframe(width="100%", height="620", src="https://sketchfab.com/models/309e0f3f69bd4ff7a4bceda64508e3da/embed", frameborder="0", allowvr="", allowfullscreen="", mozallowfullscreen="true", webkitallowfullscreen="true", onmousewheel="")
  | 
  p(style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;")
    |  
    a(href="https://sketchfab.com/models/309e0f3f69bd4ff7a4bceda64508e3da?utm_campaign=309e0f3f69bd4ff7a4bceda64508e3da&utm_medium=embed&utm_source=oembed", target="_blank", style="font-weight: bold; color: #1CAAD9;") Germanicus 
    | by 
    a(href="https://sketchfab.com/britishmuseum?utm_campaign=309e0f3f69bd4ff7a4bceda64508e3da&utm_medium=embed&utm_source=oembed", target="_blank", style="font-weight: bold; color: #1CAAD9;") The British Museum 
    | on 
    a(href="https://sketchfab.com?utm_campaign=309e0f3f69bd4ff7a4bceda64508e3da&utm_medium=embed&utm_source=oembed", target="_blank", style="font-weight: bold; color: #1CAAD9;") Sketchfab
